@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Regular.woff2") format("woff2"),
        url("./fonts/Roboto-Regular.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    font-family: "Roboto";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}




