@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Regular.woff2") format("woff2"),
        url("./fonts/Roboto-Regular.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header div{
    box-sizing: border-box;
}

.catalogue {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.dropdown {
    display: none;
    border: 1px #6dd2d282 solid;
    flex-direction: column;
    width: 15vw;
    margin-top: 3.1em;
    position: absolute;
}

.catalogue .btn {
    padding: 1em;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalogue .btn:hover {
    cursor: pointer;
    color: darkgreen;
    background-color: #6dd2d282;
}

.dropdown a{
    padding: 0.5em;
    border: 1px #6dd2d282 solid;
}
.dropdown a:hover{
    background-color: #f0ffffbd;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.carousel{
    margin-top: 7em;
    width: 100%;
    height:65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.carousel button{
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 3em;
    color:white;
    font-weight: 900;
    background-color: rgb(109, 210, 210, 0.3);
    padding: 0.1em 0.5em;
    border-radius: 0.1em;
}

.carousel button:hover{
    background-color: rgb(109, 210, 210, 0.6);
}
img{
    height: 55vh;
    width: auto;
}

.frame{
    padding: 1em 2em;
    background-color: rgba(109, 210, 210, 0.5);
    border-radius: 1em;
    box-shadow: 1em 1em 0.5em 0.1em rgb(109, 210,210,0.3);
}

.slide{
    display: none;
}

.slide.active{
    display: block;
}

.carousel+div{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circles{
    display: flex;
    gap: 2em;
}

.circle{
    width: 1.5em;
    height: 1.5em;
    background-color: rgb(109, 210, 210, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.circle.active{
    background-color:rgb(109, 210, 210, 0.7) ;
}