@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Regular.woff2") format("woff2"),
        url("./fonts/Roboto-Regular.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar div{
    box-sizing: border-box;
}
.catalogue {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.dropdown {
    display: none;
    border: 1px #6dd2d282 solid;
    flex-direction: column;
    width: 15vw;
}

.catalogue .btn {
    padding: 1em;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalogue .btn:hover {
    cursor: pointer;
    color: darkgreen;
    background-color: #f0ffff;
}

.dropdown a{
    padding: 0.5em;
    border: 1px #6dd2d282 solid;
}
.dropdown a:hover{
    background-color: #f0ffffbd;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}